
/* General */
.container{ max-width: 1200px; margin: 0 auto; }
a:hover{ text-decoration: none; }

/* Top Bar */
#top-bar,#top-bar ul{ height: 28px; }
#top-bar{ background: #000; }
#top-bar .menu{ float: right; }
#top-bar .menu li{ display: inline-block; list-style: none; height:inherit; padding: 3px 7px; }
#top-bar .menu li a{ color: #fff; }
#top-bar .menu li a:hover{ opacity: .8; }

/* Header */
header #logo a:hover{ text-decoration: none!important; }
header{ padding-top: 32px!important; }

#navigation{ background:transparent!important; }
#navigation ul#main-nav > li:first-child{ border: none!important; }

#main-nav li a{ color: #fff!important; font-weight: 400; text-decoration: none!important; }
#main-nav li a:hover{ opacity: .8; }
#main-nav .current_page_item a,#main-nav>li>a:hover,#main-nav .sub-menu{ background: #a05b28!important; }

#secondary{ padding: 0 6px 0 350px; text-align: right; }
#secondary li{ list-style: none; }
.header-contact .textwidget{ font-size: 22px; color: #dfdfdf!important; }
.header-contact .widget_text{ margin-bottom: 0px; margin-top: 18px; }
.header-contact .widget_text i{ margin-right: 5px; }

/* Slider */
.main-slider li img{
	width: 99.28%!important;
}